.divider {
  width:20vw !important;
  height: 10px;
  background: #fff;
}

.label-color {
  color: #a4c3cc;
}

.bgImg {
  // background-image: url('../../../public/bg.jpg');
  background-size: cover;
}

.white {
  background: white;
}